Bonjour {{data.contact.name}} {{data.contact.surname}}, 

Vous venez de remplir le formulaire de pré-inscription aux Régataïades, une compétition internationale d'aviron universitaire qui aura lieu le 10 et le 11 mai à Nantes.

En pièce-jointe vous trouverez la fiche contenant toutes les informations que vous avez indiquées dans le formulaire sur le site. 

Il reste encore un peu pour finaliser votre inscription : 
* Imprimer le document joint et le signer
* Nous le renvoyer, accompagné d'un cheque à l'ordre de l'UNA.
{% if data.meals > 0 %}

Vous vous êtes inscrits au repas des officiels. Merci de nous envoyer le cheque de caution du montant de 15 euros. Ce cheque vous sera rendu le soir du repas.    
{% endif%}

Veuillez noter que le prix indiqué dans votre inscription est valable jusqu'au 14 avril. Apsès cette date une majoration sera appliquée.

N'hésitez pas à nous contacter pour tous renseignement supplementaire.

Cordialement,

Comité de pilotage des Régataïdes

Tél: +33(0)9.54.01.48.10
Club Université Nantes Aviron (UNA)
2 rue de la Houssinière 44300 NANTES