Dear {{data.contact.name}} {{data.contact.surname}}, 

You have successfully submitted the pre-registration form for the Régataïades rowing regatta, an internation university competition which will take place the 10th and 11th May 2014 in Nantes, France. 

You can check out the attached file with all of the information that you have specified in the website form.
 
Please check out the attachment and verify that everything is correct. And then contact us asap in order to finalize your registration.  

Feel free to contact us for any information.

Best regards,

Régataïdes Steering committee

Tél: +33(0)9.54.01.48.10
Club Université Nantes Aviron (UNA)
2 rue de la Houssinière 44300 NANTES